<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="bookings-as-guest">
      <h2>Requests I've Made</h2>
      <% @guest_bookings.each do |guest_booking| %>
        <article class="guest-booking" id="guestbooking<%= guest_booking.id %>">
          <h3><%= guest_booking.space.name %></h3>
          <p>
            <b>On:</b> <%= guest_booking.date.strftime(DATE_FORMAT) %> <br>
            <b>Status:</b> <%= guest_booking.status.capitalize %>
          </p>
        </article>
      <% end %>
    </section>
    <section class="bookings-as-host">
      <h2>Requests I've Received</h2>
      <% @user.spaces.each do |space| %>
        <section class="host-space" id="space<%= space.id %>">
          <h3><%= space.name %></h3>
          <% space.bookings.each do |space_booking| %>
            <article class="space-booking" id="spacebooking<%= space_booking.id %>">
              <p>
                <b>Request from <%= space_booking.guest.username %></b>
                <b>For:</b> <%= space_booking.date.strftime(DATE_FORMAT) %> <br>
                <b>Status:</b> <%= space_booking.status.capitalize %>
              </p>
            </article>
          <% end %>
        </section>
      <% end %>
    </section>
  </body>
</html>