<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>My Bookings</title>
  </head>
  <body>
    <%= erb :'partials/header' %>
    <section class="list-wrapper" id="bookings-as-guest">
      <h2>Requests I've Made</h2>
      <% @guest_bookings.each do |guest_booking| %>
        <section class="list-item" id="guestbooking<%= guest_booking.id %>">
          <h4><%= guest_booking.space.name %></h3>
          <p>
            <strong>On:</strong> <%= guest_booking.date.strftime(DATE_FORMAT) %> <br>
            <strong>Status:</strong> <%= guest_booking.status.capitalize %>
          </p>
        </section>
      <% end %>
    </section>
    <section class="list-wrapper" id="bookings-as-host">
      <h2>Requests I've Received</h2>
      <% @user.spaces.each do |space| %>
        <section class="list-item" id="space<%= space.id %>">
          <h3><%= space.name %></h3>
          <% space.bookings.each do |space_booking| %>
            <section class="list-item" id="spacebooking<%= space_booking.id %>">
              <p>
                <h4>Request from <%= space_booking.guest.username %></h4> <br>
                <strong>For:</strong> <%= space_booking.date.strftime(DATE_FORMAT) %> <br>
                <strong>Status:</strong> <%= space_booking.status.capitalize %>
                <% if space_booking.status == "pending" %>
                  <form action="/bookings/<%= space_booking.id %>" method="POST">
                    <input type="hidden" name="_method" value="patch">
                    <button class="preferred-action-small" type="submit" name="status" value="confirmed">Confirm Booking</button>
                    <button class="lesser-action-small" type="submit" name="status" value="rejected">Reject Booking</button>
                  </form>
                <% end %>
              </p>
            </section>
          <% end %>
        </section>
      <% end %>
    </section>
  </body>
</html>