<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @user %>
      <form action="/sessions" method="POST">
        <input type="hidden" name = "_method" value="delete">
        <button type="submit">Log Out</button>
      </form>
      <a href="/bookings">Bookings</a>
      <h3>Welcome, <%= @user.username %></h3>
    <% else %>
      <a href="/users/new">Sign Up</a>  <a href="/sessions/new">Log In</a>
    <% end %>
    <p><%= flash[:acknowledgement]%></p>
    <h1>Feel at home, anywhere</h1>
    <% if @user %>
      <form action="/spaces/new" method="GET">
        <button type="submit">List a Space</button>
      </form>
    <% end %>
    <% @spaces.each do |space| %>
      <article class="space" id="space<%= space.id %>">
        <h2><%= space.name %></h2>
        <p><%= space.short_description(50) %>...</p>
        <p>£<%= space.price %> per night</p>
        <form action="/spaces/<%= space.id %>" method="GET">
          <button type="submit" name="more-info">>></button>
        </form>
      </article>
    <% end %>
  </body>
</html>